/** {border: solid 2px black;}*/

/*Div*/
/*div#contenido_derecha, #derecha{ border: 2px solid black; }*/
body {background-image: url(../img/imagen_index.jpg);
background-repeat: no-repeat;
background-size: 100%;}

div#contenedor { 
	width: 1188px;
	height: 700px;
	margin: auto;
	display: inline-flex;
 }

div#contenido {
	width: 788px;
	height: 700px;
	margin:auto;
}

div#titulo {
	width: 400px;
	margin-left: 250px;
	border-radius:10px;
	margin-top: -30px;
	font-size: larger;
}


div#menu{
	width: 200px;
	height: 700px;
	text-decoration-color: black;

}
div#buscador{ 
	width: 990px;
	height: 100px; 
	display: inline-flex;
	align-items: center;
	gap: 400px;
 }
 div#imagenes {
 	width: 560px;
 	margin-left: 100px;
 	padding-bottom: 50%;
 	margin-bottom: 4px;
 }

#pie{
	
	position: absolute;
	bottom:20px;
	right: 33%;
}
footer{
	width: 100%;
	margin-top: -100px;
	margin-left: 20px;
}

footer a{
	text-decoration: none;
	color: cyan;
	opacity: 0.5;
}

div#derecha{ 
	width: 200px;
	height: 400px;
	margin-top: 150px;
	background-color: lightgray;
 }


/*Menu Desplegable-----------------------*/
* {
	margin:0px;
	padding:0px;
}


ul, ol {
	list-style:none;
}

.navi > li {
	float:left;
	font-family: Verdana;
	text-align: center;
}


.navi li a {
	background-color: gray;
	opacity: 50%;
	font-size:30px;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}

.navi li a:hover {
	background-color:#434343;
}

.navi li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.navi li:hover > ul {
	display:block;
}

.navi li ul li {
	position:relative;
}

.navi li ul li ul {
	right:-140px;
	top:0px;
}

/*Mod Item-------------------------------*/

ul#lista_menu {
	width: 200px;
	list-style: none;
	text-align: center;
	padding: 0;
 	

}
li.me_lista {
	font-size: larger;
	color: white;
	margin-top: 50px;
	text-decoration: none;
	width: 195px;
	

}
a.me_lista {
	color: black;
	margin-top: 50px;
	text-decoration: none;
}



h1.bu_h1{
	width: 500px;
	color: white;
	text-align: center;
	font-family: verdana;
	}
	

img.im_item {
	width: 592px;
	border: 1px solid black;
}

img.pi_item {
	
	margin-inline: 40px;
	margin-bottom: 35px;
	padding: 0;
	
}

img#instagram {margin-left: 300px}
div.h4_item {
	height: 35px;
	margin-top: 75px;
	
	margin-left: -280px;
}

div.der_item{
	
	margin: 5px;
	height: 120px
}
img.pi_item:hover {width: 80px}